.btnClose {
  color: gray;
  border: none;
  background-color: white;
  font-weight: bold;
}
.btnClose:hover {
  color: rgba(202, 192, 192, 0.815);
  background-color: rgb(236, 84, 84);
}
.profile-img {
  max-width: 200px;
  max-height: 200px;
}
