#add-employee {
  animation: upDown 1s 0.5s 1 linear;
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  padding: 20px 50px;
  background: #fcfeff;
  background: linear-gradient(to bottom right, #fcfeff, #8a8be9);
  background: -moz-linear-gradient(top left, #fcfeff, #8a8be9);
  background: -webkit-linear-gradient(top left, #fcfeff, #8a8be9);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5px;
}
