#nav-link {
  font-weight: 500;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-items: center;
}
#nav-link:hover {
  font-weight: bold;
  /* color: #14e1de; */
}
.color-nav {
  /* animation: upDown 1s 0.5s 1 linear; */
  /* Created with https://www.css-gradient.com */
  /* background: #ffffff;
  background: -webkit-linear-gradient(left, #ffffff, #1316f2);
  background: -moz-linear-gradient(left, #ffffff, #1316f2);
  background: linear-gradient(to right, #ffffff, #1316f2); */
  /* Created with https://www.css-gradient.com */
  background: #f5f5f5;
  background: -webkit-linear-gradient(left, #f5f5f5, #6a6bec);
  background: -moz-linear-gradient(left, #f5f5f5, #6a6bec);
  background: linear-gradient(to right, #f5f5f5, #6a6bec);
  /* border-radius: 5px; */
}

@keyframes big-icon {
  0% {
    width: 50px;
    height: 10px;
  }
  25% {
    width: 70px;
    height: 20px;
  }
  50% {
    width: 90px;
    height: 25px;
  }
  75% {
    width: 150px;
    height: 45px;
  }
  100% {
    width: 180px;
    height: 50px;
  }
}
img.icon {
  animation: big-icon 0.5s 1;
  width: 180px;
  height: 50px;
}
